<label class="tree_label" for="c1">
  <div style="display:flex">
    <label class="label"> {{ node?.text }} </label>
    <div *ngIf="node.form && node.children.length == 0">
      <span>
        <form [formGroup]="editForm">
          <input
            type="checkbox"
            id="firstname"
            class="edit"
            formControlName="edit"
          />
          Read
          <input
            type="checkbox"
            id="firstname"
            class="edit"
            formControlName="view"
          />
          Write
        </form>
      </span>
    </div>
  </div>
</label>
